<div class="container">

    <div class="title">
      <div class="title1">
        <h1>Random Quote Generator</h1>
      </div>
    </div>

<div class="quote">
  <div class="quote1">
    <p class="quote"><i class="fa fa-quote-left fa-lg"></i> {{quote.quote}}</p>
    <p class="author">- {{quote.author}}</p>
  </div>
</div>

<div class="buttons">
  <div class="buttons2">
    <button mat-raised-button class="searchButton" type="button"><i class="fa fa-twitter"></i><a [href]="'https://twitter.com/intent/tweet?text=' + quote.quote" target="_blank " id="quote-tweet"> Tweet quote</a></button>
    <button mat-raised-button class="searchButton" (click)="getQuote()" type="button">New Quote</button>
  </div>
</div>

</div>
