<div class="container">

    <div class="title">
      <div class="title1">
        <h1>Random Quote Generator</h1>
      </div>
    </div>

<div class="quote">
  <div class="quote1">
    <p class="quote"><i class="fa fa-quote-left fa-lg"></i> {{quote.quote}}</p>
    <p class="author">- {{quote.author}}</p>
  </div>
</div>

  <div class="buttons">
    <div class="buttons1">
    <button class="btn btn-default"><a [href]="'https://twitter.com/intent/tweet?text=' + quote.quote" target="_blank " id="quote-tweet"> Tweet quote</a>    </button>
    </div>
    <div class="buttons2">
      <button class="btn btn-default" (click)="getQuote()">New Quote</button>
    </div>

  </div>

</div>
